<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>

    {% if request.path not in ['/', '/register'] %}
        <nav class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('find_item') }}">Find</a>
            <a href="{{ url_for('donate_item') }}">Donate</a>
            <a href="{{ url_for('return_item') }}">Return</a>
            <a href="{{ url_for('find_event') }}">Library Events</a>
            <a href="{{ url_for('ask_librarian') }}">Get Help</a>
        </nav>
    {% endif %}

    <main>
        {% block body %}{% endblock %}
    </main>

</body>
</html>
