{% extends 'base.html' %}

{% block head %}
    <h1>Home</h1>
{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="container">
            <h1>Welcome to the SFU CS Library!</h1>
            <p>This library is maintained and operated by Computing Science faculty here at SFU, enjoy your stay!</p>
        </div>
    </div>
    <div class="main-container">
        <div class="container">
            <h1>Looking to help out?</h1>
            <p>The library is extremely busy and always in-need of volunteers for events, make sure to sign up to gain some valuable experience!</p>
        </div>
        <div class="container">
            <h1>We've got the books...</h1>
            <p>Make sure to search through our extensive catalog, we have titles that tackle AI and Machine Learning all the way to classic literature and poetry!</p>
        </div>
    </div>
{% endblock %}