{% extends 'base.html' %}

{% block head %}
    <h1>Library Items</h1>
{% endblock %}

{% block body %}
    <ul>
        {% for item in items %}
            <li>
                <strong>{{ item[1] }}</strong>
                — Copies: {{ item[2] }} (ID: {{ item[0] }})<br>

                {% if item[3] %}
                    <em>Print Book</em><br>
                    ISBN: {{ item[3] }}<br>
                    Publisher: {{ item[4] }}<br>
                    Author: {{ item[5] }}<br>
                {% elif item[6] %}
                    <em>Record</em><br>
                    Format: {{ item[6] }}<br>
                    Artist: {{ item[7] }}<br>
                {% else %}
                    <em>Other Item</em><br>
                {% endif %}
            </li>
            <br>
        {% endfor %}
    </ul>
{% endblock %}